page-chat {
    .title {
        transition: transform .2s ease-in-out;
        transform-origin: left center;
        
        &.small {
            transform: scale(.75);
        }
    }

    .typing-message {
        display: none;
        margin: 0 0 0 10px;
        color: color($colors, secondary);
        font-size: 1rem;
        opacity: 0;
        transition: opacity .2s ease-in-out;
        transition-delay: 1s;

        &.show {
            display: initial;
            opacity: 1;
        }
    }

    .chat-background {
        background-color: color($colors, secondary);
    }

    .chat-row {
        display: flex;
        width: 100%;
        margin: 24px 0 24px;
        justify-content: flex-end;

        .chat-bubble {
            position: relative;
            display: table;
            max-width: 75%;
            padding: 16px;
            background-color: color($colors, accent);
            color: #fff;

            &:before {
                content: "";
                position: absolute;
                border-style: solid;
                display: block;
                width: 0;
                top: auto;
                bottom: 10px;
                right: -6px;
                border-width: 5px 0 5px 6px;
                border-color: transparent color($colors, accent);
            }
        }
    }

    .chat-row--sam {
        justify-content: flex-start;

        .chat-bubble {
            background-color: color($colors, primary);

            &:before {
                content: "";
                position: absolute;
                border-style: solid;
                display: block;
                width: 0;
                top: auto;
                bottom: 10px;
                left: -6px;
                border-width: 5px 6px 5px 0;
                border-color: transparent color($colors, primary);
            }
        }
    }

    .message-input {
        width: 90%;
        float: right;
        margin: 0 auto;

        input {
            margin: 8px;
        }
    }

    .send-button {
        margin-right: 5vw !important;
        margin-left: 5vw !important;
    }
}
