page-chat {
    .chat-bubble {
        padding: 16px;
        margin: 16px 0 16px 32px;
        background-color: color($colors, secondaryLighter);        
        border-radius: 10px;
    }

    .chat-bubble--sam {
        @extend .chat-bubble;
        margin-right: 32px;
        margin-left: 0;
        background-color: #eee;
    }

    .message-input {
        width: 90%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 10px;

        input {
            margin: 8px;
        }
    }
}
