<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Profiel</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <div class="stats" padding *ngIf="profile">

    <h1 class="name">{{ profile.name }}</h1>

    <ion-grid>
      <ion-row class="message-stats">
        <ion-col col-6>
          <span>{{ profile.messagesSent }}</span>
          <h3>Berichten verstuurd</h3>
        </ion-col>
        <ion-col col-6>
          <span>{{ profile.messagesReceived }}</span>
          <h3>Berichten ontvangen</h3>    
        </ion-col>
      </ion-row>
    </ion-grid>

    <span class="level">Level {{ profile.level }}</span>
    <progress max="1000" value="{{ profile.experienceForNextLevel }}"></progress>

  </div>

  <div class="form" padding>

    <h2>Gegevens</h2>

    <form #form="ngForm" (ngSubmit)="saveProfile(form.value)" novalidate *ngIf="profile">

      <ion-grid>
        <ion-row>
          <ion-col col-8>
            <ion-item>
              <ion-label stacked>Naam</ion-label>
              <ion-input type="text" name="name" [(ngModel)]="profile.name" required #name="ngModel"
              [class.invalid]="name.errors && name.dirty"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-4>
            <ion-item>
              <ion-label stacked>Leeftijd</ion-label>
              <ion-input type="number" name="age" [(ngModel)]="profile.age" required #age="ngModel"
              [class.invalid]="age.errors && age.dirty" step="1" min="0"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
  
        <ion-item>
          <ion-label stacked>E-mail</ion-label>
          <ion-input type="email" name="email" [(ngModel)]="profile.email" required #email="ngModel"
          [class.invalid]="email.errors && email.dirty"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Nieuw wachtwoord</ion-label>
          <ion-input type="password" name="newPassword" [(ngModel)]="profile.newPassword" placeholder="••••••••" #newPassword="ngModel"
          [class.invalid]="newPassword.errors && newPassword.dirty"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label stacked>Bevestig huidig wachtwoord</ion-label>
          <ion-input type="password" name="password" [(ngModel)]="profile.password" required placeholder="••••••••" #password="ngModel"
          [class.invalid]="password.errors && password.dirty"></ion-input>
        </ion-item>
  
      </ion-grid>

      <div padding>
        <button ion-button color="accent" block type="submit" [disabled]="!form.valid">Opslaan</button>
      </div>

    </form>

  </div>

</ion-content>
